/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #4a4242 !important;
}

$tab-color: #f3dada;

.viewer {
    margin: 0px 15px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #4a425f;
    color: $tab-color;
    font-family: monospace;
    font-size: 1.1rem;
    word-wrap: break-word;
    border: solid;

    @media screen and (min-height: 600px) {
        .viewer-content {
            height: 45vh;
            overflow-y: auto;
        }
    }

    @media screen and (min-height: 480px) and (max-height: 599px) {
        .viewer-content {
            height: 35vh;
            overflow-y: auto;
        }
    }

    @media screen and (max-height: 479px) {
        .viewer-content {
            height: 25vh;
            overflow-y: auto;
        }
    }
}

.rotating-line {
    height: 18px;
    width: 1px;
    border-right-style: solid;
    border-color: #58d258;
    animation: rotating 1s infinite linear;
}

@keyframes rotating {
    0% {
        transform-origin: 2px;
        transform: rotate(0deg);
    }
    20% {
        transform-origin: 2px;
        transform: rotate(0deg);
    }
    40% {
        transform-origin: 2px;
        transform: rotate(0deg);
    }
    100% {
        transform-origin: 2px;
        transform: rotate(359deg);
    }
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 15px;

    .tab-item {
        display: block;
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        padding: 0.5rem 1rem;

        &:hover,
        &:focus {
            border-color: $tab-color;
            text-decoration: none;
        }
    }

    .tab-item.active {
        color: #495057;
        background-color: $tab-color;
        border-color: $tab-color;
    }
}
