.viewer {
    margin: 10px 15px;
    padding-left: 15px;
    padding-top: 15px;
    border: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
    background-color: #4A425F;
    color: #f3dada;
    font-family: monospace;
    font-size: 1.1rem;
    word-wrap: break-word;
    border: solid;
}