.viewer {
    margin: 10px 15px;
    padding-left: 15px;
    padding-top: 15px;
    border: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
    background-color: #4A425F;
    color: #f3dada;
    font-family: monospace;
    font-size: 1.1rem;
    word-wrap: break-word;
    border: solid;
}

.rotating-line {
    height: 18px;
    width: 1px;
    border-right-style: solid;
    border-color: #58d258;
    animation: rotating 1s infinite linear;
}

@keyframes rotating {
    0% {
        transform-origin: 2px;
        transform: rotate(0deg);
    }
    20% {
        transform-origin: 2px;
        transform: rotate(0deg);
    }
    40% {
        transform-origin: 2px;
        transform: rotate(0deg);
    }
    100% {
        transform-origin: 2px;
        transform: rotate(359deg);
    }
}